@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
aside
--------------------*/
.aside {
  position: fixed;
  right: 32px;
  top: 40%;
  z-index: 100;
}

.link_container {
  align-items: center;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
}

.contact_link {
  display: block;
}

@media (max-width: 1024px) {
  .aside {
    bottom: 21px;
    left: 50%;
    top: initial;
    transform: translateX(-50%);
  }

  .link_container {
    flex-direction: row;
    gap: 22px;
  }
}
