@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
vip
--------------------*/
.vip_title {
  @include cut_out_letters2($yellow, 65px);
  padding-top: 182px;
  position: relative;
  text-align: center;
  z-index: 10;
}
