@charset "UTF-8";

@import "./variables.scss";

/*--------------------
common_settings
--------------------*/
html {
  font-size: 100%;
  height: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: url("../img/backgrounds/page_background.png");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

img {
  display: block;
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
}

.page-template {
  background-color: #050505cc;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
}

.w_1280 {
  max-width: 1240px;
  padding: 0 16px;
  width: 100%;
}

.w_1080 {
  max-width: 1080px;
  padding: 0;
  width: 100%;
}

.w_944 {
  max-width: 944px;
  padding: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.txt_center {
  text-align: center;
}

.noto_B {
  font-family: "Noto Sans JP Bold", sans-serif;
}

.noto_M {
  font-family: "Noto Sans JP Medium", sans-serif;
}

.noto_R {
  font-family: "Noto Sans JP Regular", sans-serif;
}

.oswald_B {
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

.oswald_M {
  font-family: Oswald, sans-serif;
  font-weight: 500;
}

.m1c {
  font-family: "M Plus 1c", sans-serif;
}

.oswald_R {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}

.oswald_L {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

.mt_28 {
  margin-top: 28px;
}

.mb_0 {
  margin-bottom: 0 !important;
}

/*--------------------
common_parts
--------------------*/
.section_title {
  color: $pure_white;
  font-size: 65px;
  text-align: center;
}

/*--------------------
animation
--------------------*/

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
