@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
fv
--------------------*/

.video_wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fv_video {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.fv_title_image,
.background_image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.fv_title_image {
  left: 50%;
  margin: 0 auto;
  max-width: 725px;
  object-fit: contain;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

/*--------------------
about
--------------------*/
.about {
  background: transparent
    linear-gradient(180deg, #000000 0%, #000000af 49%, #000000 100%) 0% 0%
    no-repeat padding-box;
  background-image: url("../img/backgrounds/about_background.png");
  background-size: cover;
  width: 100%;
}

.about_text {
  color: $pure_white;
  margin: 0 auto;
  max-width: 792px;
  padding-bottom: 130px;
  padding-top: 150px;
  text-align: center;
  width: 100%;
}

/*--------------------
events
--------------------*/

.events {
  padding: 168px;
  position: relative;
}

.events_container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 120px 70px;
  position: relative;
}

.frame_left {
  @include frame_left(525px);
}

.frame_right {
  @include frame_right(620px);
}

.event_top_title {
  @include cut_out_letters2($yellow, 85px);
  padding-bottom: 22px;
  padding-left: 40px;
  position: absolute;
  right: -24px;
  text-align: center;
  top: -50px;
}

/*--------------------
campaign
--------------------*/

.campaign {
  background-color: #030319;
}

.campaign_top_title {
  @include cut_out_letters(#030319, 85px, $yellow);
  padding-top: 42px;
  text-align: center;
}

/*--------------------
news
--------------------*/
.news {
  padding: 168px;
  position: relative;
}

.news_container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 120px 70px;
  position: relative;
}

.news_container .frame_left {
  @include frame_left(890px);
}

.news_container .frame_right {
  @include frame_right(420px);
}

.news_top_title {
  @include cut_out_letters2($yellow, 85px);
  background-color: $black;
  padding-bottom: 22px;
  padding-left: 40px;
  position: absolute;
  right: -24px;
  text-align: center;
  top: -50px;
}

/*--------------------
vip
--------------------*/
.vip {
  align-items: center;
  background-image: url(../img/backgrounds/vip_background.png);
  background-size: cover;
  height: 455px;
  justify-content: center;
  width: 100%;
}
