@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
fv
--------------------*/

.video_wrap {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fv_video {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.fv_title_image,
.background_image {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.fv_title_image {
  left: 50%;
  margin: 0 auto;
  max-width: 725px;
  object-fit: contain;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

/*--------------------
about
--------------------*/
.about {
  background: transparent
    linear-gradient(180deg, #000000 0%, #000000af 49%, #000000 100%) 0% 0%
    no-repeat padding-box;
  background-image: url("../img/backgrounds/about_background.png");
  background-size: cover;
  width: 100%;
}

.about_text {
  color: $pure_white;
  margin: 0 auto;
  max-width: 792px;
  padding-bottom: 130px;
  padding-top: 150px;
  text-align: center;
  width: 100%;
}

/*--------------------
events
--------------------*/

.events {
  padding: 168px;
  position: relative;
}

.events_container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 120px 70px 80px;
  position: relative;
}

.frame_left {
  @include frame_left(525px);
}

.frame_right {
  @include frame_right(620px);
}

.event_top_title {
  @include cut_out_letters2($yellow, 85px);
  padding-bottom: 22px;
  padding-left: 40px;
  position: absolute;
  right: -24px;
  text-align: center;
  top: -50px;
}

/*--------------------
campaign
--------------------*/

.campaign {
  background-color: #030319;
}

.campaign_top_title {
  @include cut_out_letters2($yellow, 85px);
  padding-top: 42px;
  text-align: center;
}

/*--------------------
news
--------------------*/
.news {
  padding: 168px;
  position: relative;
}

.news_container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 90px 70px 80px;
  position: relative;
}

.news_container .frame_left {
  @include frame_left(890px);
}

.news_container .frame_right {
  @include frame_right(420px);
}

.news_top_title {
  @include cut_out_letters2($yellow, 85px);
  background-color: $black;
  padding-bottom: 22px;
  padding-left: 40px;
  position: absolute;
  right: -24px;
  text-align: center;
  top: -50px;
}

/*--------------------
vip
--------------------*/
.vip {
  align-items: center;
  background-image: url(../img/backgrounds/vip_background.png);
  background-size: cover;
  height: 455px;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1400px) {
  /*--------------------
  events_1400
  --------------------*/

  .events_container {
    padding: 90px 70px;
  }

  .event_top_title {
    font-size: 70px;
  }

  .frame_left {
    max-width: 400px;
  }

  /*--------------------
  campaign
  --------------------*/
  .campaign {
    padding-bottom: 124px;
  }

  /*--------------------
  news
  --------------------*/

  .news_container .frame_left {
    max-width: 720px;
  }
}

@media (max-width: 1024px) {
  .events,
  .news {
    padding: 120px 26px;
  }

  .event_top_title {
    right: -10px;
  }

  .news_container .frame_left {
    max-width: 700px;
  }
}

@media (max-width: 820px) {
  .about_text {
    padding: 150px 24px 130px 24px;
  }

  .events_container {
    padding: 78px 30px;
  }

  .events_container .frame_left::before {
    max-width: 200px;
  }

  .news_container {
    padding: 78px 30px;
  }

  .news_container .frame_left {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  /*--------------------
  common_settings_500
  --------------------*/
  .line_top {
    height: 3px;
    max-width: 340px;
    position: absolute;
    right: 0;
    top: 0;
    width: 85%;

    &::before {
      background-color: $yellow;
      content: "";
      filter: blur(5px);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &::after {
      border-top: 1px solid $yellow;
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }

  .line_bottom {
    bottom: 0;
    height: 3px;
    left: 0;
    max-width: 340px;
    position: absolute;
    width: 85%;

    &::before {
      background-color: $yellow;
      bottom: 0;
      content: "";
      filter: blur(5px);
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &::after {
      border-top: 1px solid $yellow;
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }
  /*--------------------
  fv_500
  --------------------*/
  .fv_title_image {
    max-width: 300px;
    width: 75%;
  }

  /*--------------------
  about_500
  --------------------*/

  .about_title_image {
    margin: 0 auto;
    padding-top: 84px;
  }

  .about_text {
    padding: 38px 24px 130px 24px;
  }

  /*--------------------
  events_500
  --------------------*/

  .events {
    padding: 120px 0 94px;
  }

  .events_container {
    padding: 0;
  }

  .event_top_title {
    font-size: 42px;
    line-height: 74px;
    padding: initial;
    position: relative;
    text-align: center;
  }

  /*--------------------
  campaign_500
  --------------------*/

  .campaign {
    background-color: transparent;
    padding-bottom: 0;
  }

  .campaign_top_title {
    font-size: 42px;
    line-height: 74px;
    padding: initial;
    position: relative;
    text-align: center;
  }

  /*--------------------
  news_500
  --------------------*/

  .news {
    padding: 94px 0;
  }

  .news_container {
    padding: 0;
  }

  /*--------------------
  vip_500
  --------------------*/

  .vip {
    height: 177px;
  }
}
