@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
gallery
--------------------*/

.gallery {
  padding-top: 120px;
}

.gallery_title {
  @include cut_out_letters2($yellow, 65px);
  background-image: url("../../assets/img/backgrounds/gallery_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2px;
  padding-bottom: 145px;
  padding-top: 158px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.gallery_container {
  gap: 26px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 71px;
  margin-top: 50px;
}

.gallery_image {
  aspect-ratio: 1 / 1;
  width: 100%;
}

@media (max-width: 500px) {
  .gallery {
    padding-top: 0;
  }

  .gallery_title {
    background-position: 50% 0;
    font-size: 42px;
    padding-bottom: 64px;
    padding-top: 54px;
  }

  .gallery_container {
    gap: 8px 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    margin-top: 26px;
  }
}
