@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
schedule_top
--------------------*/
.archive_image_container {
  padding-top: 158px;
}

.archive_image {
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
}

/*--------------------
schedule_detail
--------------------*/

.schedule_detail {
  margin: 198px auto 0;
  max-width: 1000px;
  width: 100%;
}

.schedule_list {
  padding: 21px 0 53px 0;
  width: 100%;
}

.schedule_list:not(:first-child) {
  border-top: 1px solid $pure_white;
}

.schedule_item {
  align-items: center;
  gap: 71px;
}

.schedule_thumbnail {
  max-width: 300px;
  width: 100%;
}

.schedule_right_item {
  color: $pure_white;
}

.schedule_date {
  font-size: 54px;
}

.schedule_heading {
  margin-top: 36px;
}

.schedule_guest {
  font-size: 30px;
  margin-top: 4px;
}

.schedule_content {
  margin-top: 24px;
}

@media (max-width: 500px) {
  .archive_image_container {
    margin-top: 65px;
    padding-top: 0;
  }

  .schedule_detail {
    margin-top: 30px;
  }

  .schedule_item {
    display: none;
  }

  .schedule_item_sp {
    align-items: center;
    display: flex !important;
    gap: 17px;
    justify-content: center;
  }

  .schedule_thumbnail {
    height: 145px;
    width: 145px;
  }

  .schedule_date {
    font-size: 24px;
  }

  .schedule_heading {
    font-size: 14px;
    margin-top: 26px;
  }

  .schedule_guest {
    font-size: 24px;
  }

  .schedule_content {
    color: $pure_white;
  }
}
