@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
footer
--------------------*/
.footer {
  background-image: url("../../assets/img/backgrounds/footer_background.png");
  background-size: cover;
  height: 273px;
}

.footer .address {
  color: $pure_white;
  font-size: 14px;
  padding-top: 87px;
}

.footer .link_container {
  align-items: center;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  margin-top: 46px;
}

.copyright {
  color: $pure_white;
  display: block;
  margin-top: 38px;
}

@media (max-width: 1024px) {
  .footer .address {
    padding-top: 40px;
  }

  .footer .link_container {
    height: initial;
    margin-top: 28px;
  }

  .copyright {
    margin-top: 30px;
  }
}
