@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
footer
--------------------*/
.footer {
  background-image: url("../../assets/img/backgrounds/footer_background.png");
  background-size: cover;
  height: 273px;
}
