@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
events
--------------------*/

.events .swiper {
  overflow: visible !important;
}

.events_layout {
  align-items: center;
  flex-direction: row-reverse;
  gap: 80px;
  justify-content: center;
}

.event_item {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  gap: 24px;
  height: 450px !important;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}

.event_image {
  margin: 0 auto;
  max-height: 280px;
}

.event_title {
  color: $pure_white;
  font-size: 20px;
  margin-top: 24px;
}

.event_description {
  color: $pure_white;
  font-size: 14px;
  margin-top: 8px;
}

.no_events {
  color: $pure_white;
  font-size: 22px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .event_item {
    max-width: 200px;
  }

  .event_title {
    font-size: 18px;
  }

  .event_description {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .events_layout {
    gap: 20px;
  }

  .event_thumbnail {
    max-width: 200px;
  }

  .event_image {
    width: 100%;
  }

  .no_events {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .events .swiper {
    overflow: hidden !important;
  }

  .events_layout {
    gap: 0;
    justify-content: flex-end;
  }

  .event_item {
    display: block !important;
    height: initial !important;
    max-width: initial;
  }

  .event_thumbnail {
    max-width: initial;
  }

  .event_image {
    margin: 0 auto;
    max-width: 270px;
    width: 70%;
  }

  .no_events {
    font-size: 16px;
  }
}
