@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
events
--------------------*/

.events_layout {
  align-items: center;
  gap: 80px;
  justify-content: center;
}

.event_item {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 100%;
}

.event_title {
  color: $pure_white;
  font-size: 20px;
}

.event_description {
  color: $pure_white;
  font-size: 14px;
  margin-top: 8px;
}

.no_events {
  color: $pure_white;
  font-size: 22px;
}

@media (max-width: 1400px) {
  .event_item {
    max-width: 200px;
  }

  .event_title {
    font-size: 18px;
  }

  .event_description {
    font-size: 12px;
  }
}

@media (max-width: 820px) {
  .events_layout {
    gap: 20px;
  }

  .event_thumbnail {
    max-width: 200px;
  }

  .event_image {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .events_layout {
    gap: 0;
    justify-content: initial;
  }

  .event_item {
    max-width: initial;
  }

  .event_thumbnail {
    max-width: initial;
  }

  .event_image {
    margin: 0 auto;
    max-width: 270px;
    width: 70%;
  }
}
