@charset "UTF-8";

@import "../../assets/scss/variables.scss";

/*--------------------
system
--------------------*/

.system_title {
  @include cut_out_letters2($yellow, 65px);
  padding-top: 182px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.coming_soon {
  color: $pure_white;
  font-size: 32px;
  margin-top: 36px;
}

.under_maintenance {
  color: $pure_white;
  margin-bottom: 100px;
  margin-top: 12px;
}
