@charset "UTF-8";

@use "../../assets/scss/variables" as *;

/*--------------------
system
--------------------*/

.system_title {
  @include cut_out_letters2($yellow, 65px);
  padding-top: 182px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.coming_soon {
  color: $pure_white;
  font-size: 32px;
  margin-top: 36px;
}

.under_maintenance {
  color: $pure_white;
  margin-bottom: 100px;
  margin-top: 12px;
}

@media (max-width: 500px) {
  .system_title {
    font-size: 42px;
    padding-top: 72px;
  }

  .coming_soon {
    font-size: 28px;
  }

  .under_maintenance {
    font-size: 14px;
  }
}
