@charset "UTF-8";

@use "../../assets/scss/variables" as *;
/*--------------------
attention
--------------------*/
.attention_title {
  @include cut_out_letters2($yellow, 65px);
  padding-top: 182px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.section_wrapper {
  margin: 96px auto 0;
  max-width: 800px;
}

.section_wrapper:not(:first-child) {
  margin-top: 82px;
}

.section_title_layout {
  align-items: center;
  color: $pure_white;
  gap: 17px;
}

.section_title {
  font-size: 27px;
}

.section_subtitle {
  font-size: 12px;
}

.horizon {
  background-color: $yellow;
  display: block;
  height: 1px;
  margin-top: 12px;
  width: 100%;
}

.description {
  color: $pure_white;
  margin-top: 18px;
  width: 100%;
}

.attention_image_wrapper {
  margin-bottom: 100px;
  margin-top: 84px;
}

.attention_image {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

@media (max-width: 500px) {
  .section_title_layout {
    margin-top: 40px;
  }

  .section_wrapper:not(:first-child) {
    margin-top: 64px;
  }

  .attention_title {
    font-size: 42px;
    padding-top: 70px;
  }

  .description {
    font-size: 14px;
  }

  .attention_image_wrapper {
    margin-bottom: 0;
  }
}
